<?php
// Paramètres de connexion à la base de données MySQL:
// TODO: créer un installateur

$base = 'gcourrier'; // nom de la base
$user = 'root';      // nom d'utilisateur 
$mdp  = '';          // mot de passe
$hote = 'localhost'; // nom du serveur MySQL
